@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;300;600&display=swap");
.wrapper {
  width: 100%;
  height: auto;
  background-color: rgba(14, 20, 27, 1);
  padding-bottom: 100px;
  &__container {
    height: auto;
    max-width: 1000px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .line {
      width: 50px;
      height: 1px;
      background-color: red;
    }
    h1 {
      color: white;
      font-family: "Archivo", sans-serif;
    }
    h4 {
      color: rgb(113, 122, 133);
      font-family: "Archivo", sans-serif;
      width: 700px;
    }
    .items {
      height: auto;
      display: grid;
      gap: 15px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      &__project {
        width: 450px;
        height: 200px;
        border-radius: 10px;
        background-color: rgb(3, 18, 33);
        .project__preview {
          width: 100%;
          height: 200px;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 20px;
          background-position: center;
        }
        .project__about {
          width: 100%;
          height: 400px;
        }
        &:nth-child(1) {
          .project__preview {
            background-image: url("../assets/work1.jpg");
          }
        }
        &:nth-child(2) {
          .project__preview {
            background-image: url("../assets/work2.jpeg");
          }
        }
        &:nth-child(3) {
          .project__preview {
            background-image: url("../assets/work3.jpg");
          }
        }
      }
    }
  }
}
@media (max-width: 950px) {
  .wrapper {
    &__container {
      h4 {
        width: auto;
      }
      .items {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      }
    }
  }
}
@media (max-width: 500px) {
  .wrapper {
    &__container {
      h4 {
        width: 300px;
      }
      .items {
        &__project {
          width: 300px;
          height: auto;
          border-radius: 10px;
          background-color: rgb(3, 18, 33);
          .project__preview {
            width: 100%;
            height: 150px;
            background-color: black;
          }
        }
      }
    }
  }
}
