@import "https://fonts.googleapis.com/css2?family=Archivo:wght@100;300;600&display=swap";
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
._wrapper_er1kt_2 {
  width: 100vw;
  height: 80px;
  z-index: 100;
  position: fixed;
  background-color: #0e141bb3;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  scroll-behavior: smooth;
}
._wrapper_er1kt_2 ._menuHamburger_er1kt_11 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: #0e141bcc;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
._wrapper_er1kt_2 ._menuHamburger_er1kt_11 a {
  text-decoration: none;
  outline: none;
  color: #fa3879;
  font-family: Archivo, sans-serif;
  font-weight: 300;
  transition: 0.4s all;
  font-size: 25px;
}
._wrapper_er1kt_2 ._menuHamburger_er1kt_11 a:hover {
  filter: brightness(70%);
}
._wrapper__container_er1kt_36 {
  max-width: 1000px;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
._wrapper__container__logo_er1kt_46 {
  position: absolute;
  left: 15px;
}
._wrapper__container__logo_er1kt_46 * {
  width: 40px;
  height: 40px;
  color: #fff;
}
._wrapper__container__buttonsBar_er1kt_55 {
  position: absolute;
  right: 15px;
  display: flex;
  gap: 15px;
}
._wrapper__container__buttonsBar_er1kt_55 svg {
  color: #fff;
  width: 40px;
  height: 40px;
}
._wrapper__container__buttonsBar_er1kt_55 a {
  text-decoration: none;
  outline: none;
  color: #fa3879;
  font-family: Archivo, sans-serif;
  font-weight: 300;
  transition: 0.4s all;
}
._wrapper__container__buttonsBar_er1kt_55 a:hover {
  filter: brightness(70%);
}
@media (max-width: 600px) {
  ._wrapper__container_er1kt_36 {
    width: 70%;
  }
}
._wrapper_16cai_2 {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #0e141b 0%, #1e2830 100%);
}
._wrapper__container_16cai_7 {
  max-width: 1000px;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
._wrapper__container_16cai_7 ._container__Leftblock_16cai_17 {
  width: 45%;
  max-width: 450px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Archivo, sans-serif;
}
._wrapper__container_16cai_7 ._container__Leftblock_16cai_17 h4,
._wrapper__container_16cai_7 ._container__Leftblock_16cai_17 h5 {
  color: #9ca8b4;
  font-size: clamp(0.8rem, 12vw, 1.4rem);
}
._wrapper__container_16cai_7 ._container__Leftblock_16cai_17 * {
  margin: 0;
  width: 100%;
}
._wrapper__container_16cai_7 ._container__Leftblock_16cai_17 h1 {
  color: #fff;
  font-size: clamp(1.6rem, 24vw, 2.8rem);
}
._wrapper__container_16cai_7 ._container__Leftblock_16cai_17 a {
  font-family: Archivo, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  width: 120px;
  height: 45px;
  margin-top: 15px;
  background-color: #812d4e;
  color: #fff;
  border-radius: 10px;
  border: none;
  transition: 0.4s all;
}
._wrapper__container_16cai_7 ._container__Leftblock_16cai_17 a:hover {
  filter: brightness(70%);
  cursor: pointer;
}
._wrapper__container_16cai_7 ._container__Rightblock_16cai_59 {
  width: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._wrapper__container_16cai_7 ._container__Rightblock_16cai_59 div {
  width: 100%;
  height: 100%;
  background-image: url("../assets/header-n8x_Z0qE.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1000px) {
  ._wrapper__container_16cai_7 ._container__Leftblock_16cai_17 {
    width: auto;
    text-align: center;
  }
  ._wrapper__container_16cai_7 ._container__Leftblock_16cai_17 h4 {
    margin-bottom: 10px;
  }
  ._wrapper__container_16cai_7 ._container__Leftblock_16cai_17 a {
    margin: 0 auto;
  }
  ._wrapper__container_16cai_7 ._container__Rightblock_16cai_59 {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 600px) {
  ._wrapper__container_16cai_7 {
    width: 70%;
  }
}
._wrapper_1odt1_2 {
  width: 100vw;
  height: auto;
  background-color: #0e141b;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
._wrapper__container_1odt1_10 {
  max-width: 1000px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
._wrapper__container_1odt1_10 h1 {
  color: #fff;
  font-family: Archivo, sans-serif;
}
._wrapper__container_1odt1_10 h4 {
  color: #717a85;
  font-family: Archivo, sans-serif;
  text-align: center;
}
._wrapper_1odt1_2 ._container__line_1odt1_27 {
  width: 50px;
  height: 1px;
  background-color: red;
}
._wrapper_1odt1_2 ._skills_1odt1_32 {
  display: flex;
  width: 100%;
  font-family: Archivo, sans-serif;
}
._wrapper_1odt1_2 ._skills_1odt1_32 h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
._wrapper_1odt1_2 ._skills_1odt1_32 h2 {
  color: #cfd0d1;
  font-size: 16px;
  font-weight: 300;
}
._wrapper_1odt1_2 ._skills_1odt1_32 h2 a {
  text-decoration: none;
  color: #fa3879;
}
._wrapper_1odt1_2 ._skills_1odt1_32 ._container__leftBlock_1odt1_51 {
  width: 50%;
  height: auto;
  padding: 10px;
}
._wrapper_1odt1_2 ._skills_1odt1_32 ._container__leftBlock_1odt1_51 h4 {
  color: #fff;
  margin: 0;
  font-family: Archivo, sans-serif;
  font-weight: 600;
}
._wrapper_1odt1_2 ._skills_1odt1_32 ._container__leftBlock_1odt1_51 div {
  width: 70px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
._wrapper_1odt1_2 ._skills_1odt1_32 ._container__leftBlock_1odt1_51 div a {
  text-decoration: none;
  outline: none;
  margin: 0 auto;
  color: #fa3879;
}
._wrapper_1odt1_2 ._skills_1odt1_32 ._container__leftBlock_1odt1_51 div a svg {
  width: 30px;
  height: 30px;
}
._wrapper_1odt1_2 ._skills_1odt1_32 ._container__leftBlock_1odt1_51 a {
  margin-top: 10px;
  color: #fff;
  font-family: Archivo, sans-serif;
  font-weight: 300;
  text-decoration: none;
  outline: none;
}
._wrapper_1odt1_2 ._skills_1odt1_32 ._container__rightBlock_1odt1_86 {
  padding: 10px;
  width: 50%;
  height: auto;
}
._wrapper_1odt1_2
  ._skills_1odt1_32
  ._container__rightBlock_1odt1_86
  ._tech_1odt1_91 {
  width: 100%;
  gap: 10px;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-flow: wrap;
}
._wrapper_1odt1_2
  ._skills_1odt1_32
  ._container__rightBlock_1odt1_86
  ._tech_1odt1_91
  span {
  padding: 10px;
  background-color: #081c30;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s all;
}
._wrapper_1odt1_2
  ._skills_1odt1_32
  ._container__rightBlock_1odt1_86
  ._tech_1odt1_91
  span:hover {
  background-color: #0a243e;
}
@media (max-width: 600px) {
  ._wrapper__container_1odt1_10 {
    width: 70%;
  }
  ._wrapper__container_1odt1_10 ._container__leftBlock_1odt1_51 span {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  ._wrapper__container_1odt1_10 {
    width: 300px;
  }
  ._wrapper__container_1odt1_10 ._skills_1odt1_32 {
    flex-direction: column;
  }
  ._wrapper__container_1odt1_10
    ._skills_1odt1_32
    ._container__rightBlock_1odt1_86,
  ._wrapper__container_1odt1_10
    ._skills_1odt1_32
    ._container__leftBlock_1odt1_51 {
    text-align: center;
    padding: 0;
    width: 100%;
  }
  ._wrapper__container_1odt1_10
    ._skills_1odt1_32
    ._container__leftBlock_1odt1_51
    div {
    margin: 0 auto;
  }
}
._wrapper_v165j_2 {
  width: 100%;
  height: auto;
  background-color: #031221;
  background-size: contain;
}
._wrapper__container_v165j_8 {
  max-width: 1000px;
  width: 60%;
  height: 200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
._wrapper__container_v165j_8 ._container__leftBlock_v165j_18 {
  position: absolute;
  left: 0;
  color: #fff;
}
._wrapper__container_v165j_8 ._container__leftBlock_v165j_18 svg {
  height: 40px;
  width: 40px;
}
._wrapper__container_v165j_8 ._container__leftBlock_v165j_18 h4 {
  margin: 0;
  font-family: Archivo, sans-serif;
  font-weight: 300;
}
._wrapper__container_v165j_8 ._container__rightBlock_v165j_32 {
  position: absolute;
  right: 0;
}
._wrapper__container_v165j_8 ._container__rightBlock_v165j_32 h4 {
  color: #fff;
  margin: 0;
  font-family: Archivo, sans-serif;
  font-weight: 600;
  text-align: center;
}
._wrapper__container_v165j_8 ._container__rightBlock_v165j_32 div {
  margin: 10px auto 0;
  width: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
._wrapper__container_v165j_8 ._container__rightBlock_v165j_32 div a {
  text-decoration: none;
  outline: none;
  margin: 0 auto;
  color: #fa3879;
}
._wrapper__container_v165j_8 ._container__rightBlock_v165j_32 div a svg {
  width: 30px;
  height: 30px;
}
._wrapper__container_v165j_8 ._container__rightBlock_v165j_32 a {
  margin-top: 10px;
  color: #fff;
  font-family: Archivo, sans-serif;
  font-weight: 300;
  text-decoration: none;
  outline: none;
}
@media (max-width: 900px) {
  ._wrapper__container_v165j_8 {
    width: auto;
    flex-direction: column;
  }
  ._wrapper__container_v165j_8 ._container__leftBlock_v165j_18 {
    position: sticky;
  }
  ._wrapper__container_v165j_8 ._container__leftBlock_v165j_18 svg {
    width: 100%;
    text-align: center;
  }
  ._wrapper__container_v165j_8 ._container__rightBlock_v165j_32 {
    margin-top: 20px;
    position: sticky;
  }
}
._wrapper_9nd9h_2 {
  width: 100%;
  height: auto;
  background-color: #0e141b;
  padding-bottom: 100px;
}
._wrapper__container_9nd9h_8 {
  height: auto;
  max-width: 1000px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
._wrapper__container_9nd9h_8 ._line_9nd9h_19 {
  width: 50px;
  height: 1px;
  background-color: red;
}
._wrapper__container_9nd9h_8 h1 {
  color: #fff;
  font-family: Archivo, sans-serif;
}
._wrapper__container_9nd9h_8 h4 {
  color: #717a85;
  font-family: Archivo, sans-serif;
  width: 700px;
}
._wrapper__container_9nd9h_8 ._items_9nd9h_33 {
  height: auto;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
._wrapper__container_9nd9h_8 ._items__project_9nd9h_40 {
  width: 450px;
  height: 200px;
  border-radius: 10px;
  background-color: #031221;
}
._wrapper__container_9nd9h_8
  ._items__project_9nd9h_40
  ._project__preview_9nd9h_46 {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-position: center;
}
._wrapper__container_9nd9h_8
  ._items__project_9nd9h_40
  ._project__about_9nd9h_54 {
  width: 100%;
  height: 400px;
}
._wrapper__container_9nd9h_8
  ._items__project_9nd9h_40:nth-child(1)
  ._project__preview_9nd9h_46 {
  background-image: url("assets/work4-UAFGc1pQ.jpg");
}
._wrapper__container_9nd9h_8
  ._items__project_9nd9h_40:nth-child(2)
  ._project__preview_9nd9h_46 {
  background-image: url("assets/work2-N0-bDh13.jpeg");
}
._wrapper__container_9nd9h_8
  ._items__project_9nd9h_40:nth-child(3)
  ._project__preview_9nd9h_46 {
  background-image: url("assets/work3-V2qCX3pM.jpg");
}
._wrapper__container_9nd9h_8
  ._items__project_9nd9h_40:nth-child(4)
  ._project__preview_9nd9h_46 {
  background-image: url("assets/work1-KevnwlGM.jpg");
}
@media (max-width: 950px) {
  ._wrapper__container_9nd9h_8 h4 {
    width: auto;
  }
  ._wrapper__container_9nd9h_8 ._items_9nd9h_33 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 500px) {
  ._wrapper__container_9nd9h_8 h4 {
    width: 300px;
  }
  ._wrapper__container_9nd9h_8 ._items__project_9nd9h_40 {
    width: 300px;
    height: auto;
    border-radius: 10px;
    background-color: #031221;
  }
  ._wrapper__container_9nd9h_8
    ._items__project_9nd9h_40
    ._project__preview_9nd9h_46 {
    width: 100%;
    height: 150px;
    background-color: #000;
  }
}
